.admin-container {
  min-height: 100vh;
}
.admin-desktop1 {
  width: 100%;
  height: 622px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.admin-conflux1 {
  left: -46px;
  width: 1455px;
  bottom: 9px;
  height: 551px;
  opacity: 0.90;
  position: absolute;
  border-color: transparent;
}
.admin-rectangle4 {
  top: 46px;
  left: -16px;
  width: 1392px;
  height: 517px;
  margin: var(--dl-space-space-unit);
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
  background-size: cover;
  justify-content: center;
  background-image: url("public/playground_assets/rectangle4844-5v-1400w.png");
  background-position: center;
}
.admin-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.admin-container02 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.admin-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.admin-container04 {
  flex: 1;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 68px;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-end;
}
.admin-container05 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.admin-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 483px;
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.admin-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.admin-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.admin-container09 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.admin-container10 {
  left: 71px;
  width: 90%;
  bottom: -18px;
  height: 446px;
  display: flex;
  opacity: 0.8;
  z-index: 100;
  position: absolute;
  box-shadow: 2px 2px 5px 2px #d4d4d4;
  align-items: flex-start;
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: #D9D9D9;
}
.admin-image {
  top: 26px;
  left: 22px;
  width: 106px;
  height: 102px;
  position: absolute;
  align-self: center;
  object-fit: cover;
  padding-top: 0px;
}
.admin-text {
  top: 34px;
  left: 151px;
  color: rgb(13, 177, 220);
  position: absolute;
  font-style: normal;
  font-weight: 400;
}
.admin-navlink {
  top: 259px;
  left: 577px;
  position: absolute;
  font-size: 20px;
  border-width: 0px;
  text-decoration: none;
  background-color: #f2f2f2;
}
.admin-text03 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.admin-navlink1 {
  top: 261px;
  left: 325px;
  position: absolute;
  border-width: 0px;
  text-decoration: none;
  background-color: #f2f2f2;
}
.admin-text06 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.admin-navlink2 {
  left: 621px;
  bottom: 41px;
  position: absolute;
  font-size: 20px;
  border-width: 0px;
  text-decoration: none;
  background-color: #f2f2f2;
}
.admin-text09 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.admin-button {
  left: 369px;
  bottom: 41px;
  position: absolute;
  border-width: 0px;
  text-decoration: none;
  background-color: #f2f2f2;
}
.admin-text10 {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.admin-contact {
  top: 153px;
  left: 565px;
  color: var(--dl-color-gray-black);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.admin-text13 {
  top: 68px;
  left: 149px;
  color: rgb(125, 122, 122);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.admin-text16 {
  top: 68px;
  left: 198px;
  color: rgb(125, 122, 122);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.admin-text17 {
  top: 68px;
  left: 244px;
  color: rgb(125, 122, 122);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.admin-text18 {
  top: 69px;
  left: 328px;
  color: rgb(125, 122, 122);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.admin-email {
  top: 152px;
  left: 174px;
  color: var(--dl-color-gray-black);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.admin-location {
  top: 153px;
  left: 884px;
  color: var(--dl-color-gray-black);
  width: auto;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.admin-text25 {
  top: 200px;
  left: 439px;
  color: rgb(2, 165, 60);
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;
  font-size: 28px;
  align-self: center;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.admin-text26 {
  font-style: normal;
  font-weight: 700;
}
.admin-image1 {
  top: 150px;
  left: 138px;
  width: 26px;
  height: 23px;
  position: absolute;
  object-fit: cover;
}
.admin-image2 {
  top: 150px;
  left: 838px;
  width: 26px;
  height: 28px;
  position: absolute;
  object-fit: cover;
}
.admin-image3 {
  top: 150px;
  left: 534px;
  width: 28px;
  height: 28px;
  position: absolute;
  object-fit: cover;
}
.admin-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.admin-container12 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.admin-textinput {
  top: 317px;
  left: 571px;
  width: 200px;
  position: absolute;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.admin-textinput1 {
  top: 318px;
  left: 321px;
  width: 200px;
  position: absolute;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
}
.admin-text28 {
  top: 12px;
  left: 595px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-style: normal;
  font-weight: 400;
}
.admin-text31 {
  top: 17px;
  left: 230px;
  color: rgba(170, 165, 165, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.admin-rectangle1 {
  top: 0px;
  left: -4px;
  width: 1440px;
  height: 62px;
  display: flex;
  position: absolute;
  background-color: #004c99;
}
.admin-text33 {
  top: 20px;
  left: 1183px;
  color: rgb(255, 255, 255);
  width: 134px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.admin-text34 {
  top: 17px;
  left: 230px;
  color: #ffffff;
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.admin-text36 {
  top: 17px;
  left: 375px;
  color: #ffffff;
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.admin-text38 {
  top: 17px;
  left: 520px;
  color: #ffffff;
  width: 167px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.admin-text40 {
  top: 17px;
  left: 686px;
  color: #ffffff;
  width: 167px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.admin-rectangle3 {
  left: -7px;
  width: 1440px;
  bottom: 0px;
  height: 50px;
  display: flex;
  position: absolute;
  border-color: transparent;
  background-color: #004c99;
}
.admin-text42 {
  left: 400px;
  color: #ffffff;
  width: 710px;
  bottom: 10px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .admin-container10 {
    width: 1032px;
  }
}
